In [1]:
print(1+2)

3

In [2]:
print(250+100+400)

750

In [3]:
print(15-3)

12

In [4]:
print(54+21-105)

-30

In [5]:
print(-30-40)

-70

In [6]:
print(7*9)

63

In [7]:
print(50/2)

25.0

In [8]:
print(50/3)

16.666666666666668

In [9]:
print(15//3)

5

In [10]:
print(50//3)

16

In [11]:
print(50%3)

2

In [12]:
print(-3//2)

-2

In [13]:
print(-3/2)

-1.5

In [14]:
print(2/0)

ZeroDivisionError: division by zero

In [15]:
2**3

8

In [16]:
print(2**0.5)

1.4142135623730951

In [17]:
print(type(7))
print(type(9))
print(type(7*9))

<class 'int'>
<class 'int'>
<class 'int'>

In [18]:
print(type(50))
print(type(4))
print(type(50/4))

<class 'int'>
<class 'int'>
<class 'float'>

In [19]:
print(type(50/2))

<class 'float'>

In [20]:
print(2.0)
print(2.)
print(0.5)
print(.5)

2.0
2.0
0.5
0.5

In [21]:
print(float(2))
print(type(float(2)))

2.0
<class 'float'>

In [24]:
print(int(3.7))
print(type(int(3.7)))

3
<class 'int'>

In [25]:
print(float(2.0))
print(type(float(2.0)))

2.0
<class 'float'>

In [27]:
print(3 + 5*4 - 10/2)

18.0

In [28]:
print((3+5) * 4 - 10/2)

27.0

In [29]:
print(abs(-3))

3

In [38]:
x = 250 + 100 + 400
print(x)
print(x*2)
y = x/2
print(y)
print(type(x))
print(type(y))

750
750
1500
375.0
<class 'int'>
<class 'float'>

In [34]:
s, t = 100, 200

In [1]:
print(x)
x = 100

NameError: name 'x' is not defined

In [2]:
print("text")

text

In [3]:
print(type("text"))

<class 'str'>

In [4]:
print("Lean Python")
print("こんにちは")

Lean Python
こんにちは

In [5]:
student_name = "Alice"
print(student_name)

Alice

In [6]:
print(text)

NameError: name 'text' is not defined

In [7]:
print(Lean Python)

SyntaxError: invalid syntax (<ipython-input-7-8bf235ab7801>, line 1)

In [8]:
student_name = "Alice"
print("私の名前は" + student_name + "です。")

私の名前はAliceです。

In [12]:
student_age = 19
print("私の年齢は" + str(student_age) + "です。")

私の年齢は19です。

In [13]:
student_age = 19
print("私の年齢は" + student_age + "です。")

TypeError: can only concatenate str (not "int") to str

In [17]:
student_name = "Alice"
student_age = 19
print("私の名前は{}で、{}歳です。".format(student_name, student_age))

私の名前はAliceで、19歳です。

In [18]:
student_name = "Alice"
student_age = 19
print("私の名前は{1}で、{0}歳です。".format(student_name, student_age))

私の名前は19で、Alice歳です。

In [19]:
weather_text = "今日の天気は{}です。"
weather_text = weather_text.format("晴れ")
print(weather_text)

今日の天気は晴れです。

In [21]:
today_temprature = 3
tomorrow_temprature = -5
print("今日の最低気温は{:+}、明日の最低気温は{:+}です。".format(today_temprature, tomorrow_temprature))

今日の最低気温は+3、明日の最低気温は-5です。

In [22]:
today_temprature = 3.53
tomorrow_temprature = -5.27
print("今日の最低気温は{1:+.1f}、明日の最低気温は{0:+.1f}です。".format(today_temprature, tomorrow_temprature))

今日の最低気温は-5.3、明日の最低気温は+3.5です。

In [23]:
print("python".capitalize())

Python

In [24]:
student_age = 19
print("学生の年齢", student_age)

学生の年齢 19

In [26]:
student_age = 19
print("学生の年齢", student_age, sep=":")

学生の年齢:19

In [27]:
student_age = 19
print("学生の年齢{}".format(student_age))
print("学生の年齢", student_age, sep=":")
print("学生の年齢"+str(student_age))

学生の年齢19
学生の年齢:19
学生の年齢19

In [28]:
print("1", end=":")
print("2")

1:2

In [31]:
january_average_temprature = 6
february_average_temprature = 7
print("各月の平均気温は、1月は{}度、2月は{}度です。".format(january_average_temprature, february_average_temprature))

各月の平均気温は、1月は6度、2月は7度です。

In [33]:
monthly_average_tempretures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
print(monthly_average_tempretures)
print(type(monthly_average_tempretures))

[6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
<class 'list'>

In [35]:
monthly_average_tempretures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
print("各月の平均気温は、1月は{}度、2月は{}度です。".format(monthly_average_tempretures[0], monthly_average_tempretures[1]))

各月の平均気温は、1月は6度、2月は7度です。

In [38]:
monthly_average_tempretures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
print("各月の平均気温は、7月は{}度、12月は{}度です。".format(monthly_average_tempretures[6], monthly_average_tempretures[11]))
print("最後の月の平均気温は{}度です。".format(monthly_average_tempretures[-1]))

各月の平均気温は、7月は27度、12月は7度です。
最後の月の平均気温は7度です。

In [40]:
print(type(monthly_average_tempretures[0]))

<class 'int'>

In [44]:
monthly_average_tempratures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
print(monthly_average_tempratures[5])
monthly_average_tempratures[5] = 24
print(monthly_average_tempratures[5])

22
24

In [50]:
print(monthly_average_tempratures[3:8])
print(monthly_average_tempratures[0:7:2])
print(monthly_average_tempratures[::5])
print(monthly_average_tempratures[:4])
print(monthly_average_tempratures[::-1])

[15, 20, 24, 27, 26]
[6, 9, 20, 27]
[6, 24, 12]
[6, 7, 9, 15]
[7, 12, 17, 23, 26, 27, 24, 20, 15, 9, 7, 6]

In [51]:
print(len(monthly_average_tempratures))

12

In [52]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
odd_and_even = [[0, 2, 4, 6, 8], [1, 3, 5, 7, 9]]
mixed = [-5.5, "Python", 270, ["a", "b", "c"]]

In [53]:
numbers = [0, 1, 2, 3]
print(numbers)
numbers.append(4)
print(numbers)

[0, 1, 2, 3]
[0, 1, 2, 3, 4]

In [54]:
texts = []
texts.append("alpha")
print(texts)
texts.append("beta")
print(texts)

['alpha']
['alpha', 'beta']

In [55]:
numbers = [0, 1, 2, 3]
numbers = numbers.append(4)
print(numbers)
print(type(numbers))

None
<class 'NoneType'>

In [57]:
numbers = [0, 1, 2, 3]
print(numbers.append(4))
print(numbers)

None
[0, 1, 2, 3, 4]

In [59]:
text = "python"
text.capitalize()
print(text)
capitalize_text = text.capitalize()
print(text)
print(capitalize_text)

python
python
Python

In [60]:
print([1,2,3,]+[4,5,6])

[1, 2, 3, 4, 5, 6]

In [61]:
user_ids = ("A081", "A114", "A186")
print(user_ids)
print(type(user_ids))

('A081', 'A114', 'A186')
<class 'tuple'>

In [62]:
print(user_ids[0])

A081

In [63]:
user_ids[0] = "A082"

TypeError: 'tuple' object does not support item assignment

In [65]:
user_ids = "A081", "A114", "A186"
print(user_ids)
print(type(user_ids))

('A081', 'A114', 'A186')
<class 'tuple'>

In [68]:
id = ("A081")
print(id)
print(type(id))

A081
<class 'str'>

In [70]:
t=(123,)
print(t)
print(type(t))
t=(123)
print(t)
print(type(t))

(123,)
<class 'tuple'>
123
<class 'int'>

In [74]:
user_ids = ("A081", "A114", "A186")
user_ids1, user_ids2, user_ids3 = user_ids
user_ids1
user_ids2
user_ids3

'A186'

In [75]:
empty_tuple = ()
print(empty_tuple)

()

In [77]:
user_ids = ("A081", "A114", "A186")
print(user_ids)
print(list(user_ids))

('A081', 'A114', 'A186')
['A081', 'A114', 'A186']

In [78]:
list = [0,1,2]
print(list(user_ids))

TypeError: 'list' object is not callable

In [6]:
student_name = "Alice"
student_age = 22
if student_age < 20:
    print("{}は２０歳未満です。".format(student_name))
elif student_age == 21:
    print("{}は２１歳です。".format(student_name))
elif student_age == 22:
    print("{}は２２歳です。".format(student_name))
else:
    print("{}は23歳以上です。".format(student_name))

Aliceは２２歳です。

In [7]:
student_name = "Alice"
student_age = 22
if student_age < 20:
    print("{}は２０歳未満です。".format(student_name))
elif student_age >= 21:
    print("{}は２１歳以上です。".format(student_name))
elif student_age == 22:
    print("{}は２２歳です。".format(student_name))
else:
    print("{}は23歳以上です。".format(student_name))

Aliceは２１歳以上です。

In [8]:
print(19 < 20)
print(type(19 < 20))
print(22 < 20)
print(type(22 < 20))

True
<class 'bool'>
False
<class 'bool'>

In [9]:
if True:
    print("Hello Boolean!")

Hello Boolean!

In [10]:
if False:
    print("Hello Boolean!")

In [11]:
print(20 > 19.5)

True

In [12]:
print("Python" == "Python")

True

In [14]:
student_name = "Alice"
student_age = 19
if (student_age >= 10) and (student_age < 20):
    print("{}は10代です。".format(student_name))

Aliceは10代です。

In [15]:
student_name = "Alice"
student_age = 19
if (student_age == 15) or (student_age >= 20):
    print("{}は15歳または、２０歳以上です。".format(student_name))

In [18]:
no_judgement = False 
student_name = "Alice"
student_age = 19
if not(no_judgement):
    if student_age < 20:
        print("{}は２０歳未満です。".format(student_age))
    else: 
        print("{}は２０歳以上です。".format(student_age))
else:
    print("年齢の判定はしません。")

19は２０歳未満です。

In [20]:
ADULT_AGE = 20
student_name = "Alice"
student_age = 19
if student_age < ADULT_AGE:
    print("{}は{}歳未満です。".format(student_name, ADULT_AGE))
else: 
    print("{}は{}歳以上です。".format(student_name, ADULT_AGE))

Aliceは20歳未満です。

In [22]:
numbers = [0,1,2,3,4,5,6,7,8,9]
for number in numbers:
    print(number)

0
1
2
3
4
5
6
7
8
9

In [23]:
user_ids = ("A123", "A145", "A098")
for ids in user_ids:
    print(ids)

A123
A145
A098

In [24]:
text = "Python"
for st in text: 
    print(st)

P
y
t
h
o
n

In [25]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
print(range(10))
print(list(range(10)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [28]:
for i in range(5,10, 2):
    print(i)

5
7
9

In [32]:
for i in range(9, -1, -1):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [33]:
for i in reversed(range(10)):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [35]:
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
for i in range(len(monthly_average_temperatures)):
    print("{}月の平均気温は{}度です。".format(i+1, monthly_average_temperatures[i]))

1月の平均気温は6度です。
2月の平均気温は7度です。
3月の平均気温は9度です。
4月の平均気温は15度です。
5月の平均気温は20度です。
6月の平均気温は22度です。
7月の平均気温は27度です。
8月の平均気温は26度です。
9月の平均気温は23度です。
10月の平均気温は17度です。
11月の平均気温は12度です。
12月の平均気温は7度です。

In [36]:
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
for i,tmp in enumerate(monthly_average_temperatures):
    print(f"{i+1}月の平均気温は{tmp}度です。")

1月の平均気温は6度です。
2月の平均気温は7度です。
3月の平均気温は9度です。
4月の平均気温は15度です。
5月の平均気温は20度です。
6月の平均気温は22度です。
7月の平均気温は27度です。
8月の平均気温は26度です。
9月の平均気温は23度です。
10月の平均気温は17度です。
11月の平均気温は12度です。
12月の平均気温は7度です。

In [37]:
month = range(1,13)
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
for m,tmp in zip(month, monthly_average_temperatures):
    print(f"{m}月の平均気温は{tmp}度です。")

1月の平均気温は6度です。
2月の平均気温は7度です。
3月の平均気温は9度です。
4月の平均気温は15度です。
5月の平均気温は20度です。
6月の平均気温は22度です。
7月の平均気温は27度です。
8月の平均気温は26度です。
9月の平均気温は23度です。
10月の平均気温は17度です。
11月の平均気温は12度です。
12月の平均気温は7度です。

In [39]:
num = 0
while num < 10 : 
    print(num)
    num += 3

0
3
6
9

In [40]:
num = 0
while True : 
    print(num)
    num += 3
    if num >= 10 :
        break

0
3
6
9

In [43]:
def say_hello():
    print("Hello World")
    
say_hello()

Hello World

In [48]:
def say_hello_som(som, end="!?"):
    print(f"Hello {som}{end}")
    
say_hello_som("Ruby")
say_hello_som("Python", "???")

Hello Ruby!?
Hello Python???

In [52]:
def say_hello_som(som, end="!?"):
    return f"Hello {som} {end}"
    
print(say_hello_som("Ruby"))
print(say_hello_som("Python", "???"))

Hello Ruby !?
Hello Python ???

In [55]:
def func(x, y):
    ans = (x+y) * 2
    return ans 

print(func(10, 20))
print(func(1,3))
print(func(-20,-10))

60
8
-60

In [56]:
def sample_function2(x, y):
        answer1 = (x+y) * 2
        answer2 = answer1 + 10
        return answer1

print(sample_function2(3, 5))
print(answer2) # NameErrorになる

16

NameError: name 'answer2' is not defined

In [58]:
def sample_function2(x, y):
        answer1 = (x+y) * 2
        answer2 = answer1 + 10
        return answer1, answer2


answer1, answer2 = sample_function2(3, 5)
print(answer1)
print(answer2)

16
26

In [60]:
ADULT_AGE = 20
def adult_age(personal, adult = 20):
    if personal >= adult:
        return f"{adult}歳以上"
    else : 
        return f"{adult}歳未満"
    
student_name = "Alice"
student_age = 19

print(f"{student_name}は{adult_age(student_age, adult = ADULT_AGE)}です。")

Aliceは20歳未満です。

In [62]:
print(range(5))

range(0, 5)

In [11]:
a = 10

def func(c):
#     a += 100
    a = 30
    print(dir())
    return a + c

print(func(30))
print(a)
print(a+func(50))

['a', 'c']
60
10
['a', 'c']
90

In [12]:
i = 10

def num(arg=i):
#     i += i
    print(arg)

i = 7

num(7)

7

In [20]:
import reprlib
reprlib.repr(set('aaaaaaaa'))

"{'a'}"

In [21]:
_

"{'a'}"

In [22]:
def dive_into_code(teacher, *mentor):
    print(teacher,mentor)

dive_into_code('Noro', 'Nakao', 'Miyaoka')

Noro ('Nakao', 'Miyaoka')

In [23]:
print(range(5))

range(0, 5)

In [24]:
range(10)

range(0, 10)

In [26]:
d = 'xxxxDIVExxxxDIVExxxxDIVE'

print(d.replace('DIVE', 'CODE', 2))

xxxxCODExxxxCODExxxxDIVE