In [3]:
d = 'diveinto'

d + 'code'

print(d)

diveinto

In [4]:
a = 2
b = 5

c = 3.0 + b, 5 * a

print(c)

(8.0, 10)

In [9]:
import math
math.cos(math.pi / 5)
print(math.cos(math.pi / 5))

0.8090169943749475

In [10]:
for i in range(20):
    if i%3 == 0:
        print("{}は3で割り切れます".format(i), end=' ')
    elif i>8 and i%2 == 0:
        break
    else:
        continue

0は3で割り切れます 3は3で割り切れます 6は3で割り切れます 9は3で割り切れます

In [15]:
dic = 'diveintocode'

print(dic[1:10:2])

ienoo

In [18]:
name1,name2,name3,name4= '', 'suzuki','tanaka','sato'
selected_name = name1 or name2 or name3 or name4
print(selected_name)

suzuki

In [27]:
from math import pi

n = [str(round(pi, i)) for i in range(0, 5)]
print(pi)
print(n)

3.141592653589793
['3.0', '3.1', '3.14', '3.142', '3.1416']

In [28]:
diver = [d * 2 for d in 'diver']

print(diver)

['dd', 'ii', 'vv', 'ee', 'rr']

In [35]:
d = 'dive\ninto\ncode\t'
print(d)
print(len(d))

dive
into
code
15

In [42]:
d = "dive\ninto\ncode\t"
print(len(d))

15

In [43]:
[(x, y) for x in [0,1,2] for y in [1,2,3] if x != y]

[(0, 1), (0, 2), (0, 3), (1, 2), (1, 3), (2, 1), (2, 3)]

In [45]:
[(x, y) for x in [0,1,2] for y in [1,2,3]]

[(0, 1), (0, 2), (0, 3), (1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3)]

In [46]:
dic = {'Noro': 1, 'Nakao': 2, 'Miyaoka': 3}

dic['Miyaoka'] += 1

print(dic)

{'Noro': 1, 'Nakao': 2, 'Miyaoka': 4}

In [47]:
a = 2
b = 5
c = 3.0 + b, 5 * a
print(c)

(8.0, 10)

In [48]:
dive_into_code = [(1, 'Noro'), (2, 'Nakao'), (3, 'Miyaoka'), (4, 'Kimura')]
dic = dive_into_code
dic.sort(key=lambda dic: dic[1])
print(dic)

[(4, 'Kimura'), (3, 'Miyaoka'), (2, 'Nakao'), (1, 'Noro')]

In [54]:
dive_into_code = {1:'Noro', 2: 'Nakao', 3: 'Miyaoka', 4: 'Kimura'}
dic = dive_into_code
for di in sorted(key=lambda dic: dic[1])
    print(di)

SyntaxError: invalid syntax (<ipython-input-54-a4d0d6df3731>, line 3)

In [62]:
print("出力結果:")
try:
    raise Exception("開始前","Exception発生")
    print("開始")
except IOError as msg:
    print("IOError発生:",msg.args[0])
except Exception as msg:
  　　print("予期せぬ問題発生:",msg.args[1])
else:
 　　 print("Else表示")

SyntaxError: invalid character in identifier (<ipython-input-62-f500fcaa6e2b>, line 8)

In [64]:
letter = 'diveintoexam'
letter[-8]

'i'

In [65]:
dive_into_code = ['Noro', 'Nakao', 'Miyaoka', 'Miyashita', 'Shibata', 'Kimura']
dive_into_code.clear()
print(dive_into_code)

[]

In [70]:
dive_into_code = ['Noro', 'Nakao', 'Miyaoka', 'Miyashita', 'Shibata', 'Kimura']
del dive_into_code[:]
print(dive_into_code)

[]

In [71]:
dive_into_code = ['Noro', 'Nakao', 'Miyaoka', 'Miyashita', 'Shibata', 'Kimura']
ex_mentor = dive_into_code.pop(3)
print(ex_mentor)

Miyashita

In [72]:
print(5 ** 2 + 4)

29

In [85]:
(1,3,5) < (1,2,3,4)

False

In [94]:
(2,2,3) < (1,2,3,4)

False

In [101]:
import math
print("出力結果:")
print('円周率は%5.3fである。'%math.pi)
math.pi

出力結果:
円周率は3.142である。

3.141592653589793

In [2]:
list_ = [1,2,3,4,5]
list_.remove(1)
print(list_)

[2, 3, 4, 5]

In [3]:
d = 'xxxxDIVExxxxDIVExxxxDIVE'
print(d.replace('DIVE', 'CODE', 1))

xxxxCODExxxxDIVExxxxDIVE

In [5]:
class DiveIntoCode:
    def __init__(self, teacher, mentor):
        self.teacher = teacher
        self.mentor  = mentor

dic = DiveIntoCode("Noro", "Miyaoka")
print(dic.teacher)
print(dic.mentor)

Noro
Miyaoka

In [6]:
titles={'title1':'hoge1','title2':'hoge2','title3':'hoge3'}
 
print("出力結果:")
for k,v in titles.items():
    print(v)

出力結果:
hoge1
hoge2
hoge3

In [7]:
x = ["a","b","c","d","e"]
print(x[:-3])

['a', 'b']

In [8]:
print(3 * 'Dive' + 'into' + 'Code')

DiveDiveDiveintoCode

In [9]:
print("出力結果:")
for num in range(10):
      print(num)

出力結果:
0
1
2
3
4
5
6
7
8
9

In [22]:
class Sample:

    c_list = []

    def add_c_list(self,data):
        self.c_list.append(data)

print("出力結果:", end=" ")
sample1 = Sample()
sample1.add_c_list("データ1")

sample2 = Sample()
sample2.add_c_list("データ2")
# print(sample1.c_list)
# print(sample2.c_list)

for item_data in sample1.c_list:
    print(item_data, end=" ")

出力結果: データ1 データ2

In [25]:
class Sample:

    c_list = []

    def add_c_list(self,data):
        self.c_list.append(data)

print("出力結果:", end=" ")
sample1 = Sample()
sample1.add_c_list("データ1")

sample2 = Sample()
sample2.add_c_list("データ2")
# print(sample1.c_list)
# print(sample2.c_list)

for item_data in sample1.c_list:
    print(item_data, end=" ")

出力結果: データ1 データ2

In [23]:
import json
x = {'name':'yamada','data':[2,3,4]}
print(json.dumps(x))

{"name": "yamada", "data": [2, 3, 4]}

In [1]:
for i in range(20):
    if i%3 == 0:
        print("{}は3で割り切れます".format(i), end=' ')
    elif i>8 and i%2 == 0:
        break
    else:
        continue

0は3で割り切れます 3は3で割り切れます 6は3で割り切れます 9は3で割り切れます

In [4]:
print(0/3)

0.0

In [5]:
3*3.72/1.5

7.44

In [6]:
3*3.72

11.16

In [7]:
3*0.28

0.8400000000000001

In [8]:
11.16/1.5

7.44

In [20]:
dic = [
    ['Noro', 'Nakao', 'Miyaoka'],
    ['Kimura', 'Miyashita', 'Shibata'],
    ['Matsumoto', 'Tanaka', 'Ivan'],
]

print(list(zip(*dic)))

[('Noro', 'Kimura', 'Matsumoto'), ('Nakao', 'Miyashita', 'Tanaka'), ('Miyaoka', 'Shibata', 'Ivan')]

In [17]:
dic = [
    ['Noro', 'Nakao', 'Miyaoka'],
    ['Kimura', 'Miyashita', 'Shibata'],
    ['Matsumoto', 'Tanaka', 'Ivan'],
]

# print(list(zip(*dic)))
d1 = ['Noro', 'Nakao', 'Miyaoka']
d2 = ['Kimura', 'Miyashita', 'Shibata']
d3 = ['Matsumoto', 'Tanaka', 'Ivan']
print(list(zip(d1, d2, d3)))

[('Noro', 'Kimura', 'Matsumoto'), ('Nakao', 'Miyashita', 'Tanaka'), ('Miyaoka', 'Shibata', 'Ivan')]

In [13]:
dic = [
    ['Noro'],
    ['Kimura'],
    ['Matsumoto'],
]

print(list(zip(*dic)))

[('Noro', 'Kimura', 'Matsumoto')]

In [21]:
import random
random.sample(range(1000), 5)

[586, 853, 617, 186, 676]

In [22]:
member = {1: 'Noro', 2: 'Nakao', 3: 'Miyaoka'}
member[4] = 'Kimura'
del member[3]
print(list(member.keys()))

[1, 2, 4]

In [23]:
a = 2
b = 5
c = 3.0 + b, 5 * a
print(c)

(8.0, 10)

In [24]:
import reprlib
reprlib.repr(set('diveintocode'))

"{'c', 'd', 'e', 'i', 'n', 'o', ...}"

In [36]:
import reprlib
reprlib.repr(list(range(100)))
reprlib.repr("Hello world Hello world Hello world")

"'Hello world ...d Hello world'"

In [25]:
repr(set('diveintocode'))

"{'t', 'n', 'c', 'i', 'o', 'd', 'v', 'e'}"

In [29]:
repr(set("hello"))

"{'l', 'h', 'o', 'e'}"

In [37]:
num_list  = [2, 4, 6, 4, 4, 2, 6]
for i in range(num_list.count(4)):
    print(i, end=' ')

0 1 2

In [42]:
for i in range(num_list.count(4)):
    print(i, end=" ")

0 1 2

In [53]:
from math import pi
print([str(round(pi, i)) for i in range(0, 5)])

print(type(round(pi, 0)))
round(pi, 0)

['3.0', '3.1', '3.14', '3.142', '3.1416']
<class 'float'>

3.0

In [55]:
name1,name2,name3,name4= '', 'suzuki','tanaka','sato'
selected_name = name1 or name2 or name3 or name4
print(selected_name)

suzuki

In [58]:
print(25/7)
print(25//7)

3.5714285714285716
3

In [63]:
23//7

3

In [73]:
dive_into_code = [(1, 'Noro'), (2, 'Nakao'), (3, 'Miyaoka'), (4, 'Kimura')]
dic = dive_into_code
dic.sort(key=lambda dic: dic[1])

print(dic)

[(4, 'Kimura'), (3, 'Miyaoka'), (2, 'Nakao'), (1, 'Noro')]

In [78]:
d=[(1, "a"),(2, "o"),(3, "B"),(4, "A")]
d.sort(key=lambda d:d[1])
print(d)

[(4, 'A'), (3, 'B'), (1, 'a'), (2, 'o')]

In [84]:
from datetime import date
now = date.today()
print(now)
# date.now()

2020-02-28

In [88]:
import datetime
n = date.today()
print(n)

2020-02-28

In [89]:
1<1

False

In [90]:
1<=1

True

In [91]:
3.14/5

0.628

In [111]:
import math

print(math.cos(math.pi/2))
print(math.cos(math.pi/3))
print(math.cos(math.pi/4))
print(math.cos(math.pi/5))
print(math.cos(math.pi/6))
print(math.cos(math.pi/7))

6.123233995736766e-17
0.5000000000000001
0.7071067811865476
0.8090169943749475
0.8660254037844387
0.9009688679024191

In [95]:
3/5

0.6

In [113]:
class DiveIntoCode:
    def __init__(self, teacher, mentor):
        self.teacher = teacher
        self.mentor  = mentor

dic = DiveIntoCode("Noro", "Mitaoka")
print(dic.teacher)
print(dic.mentor)

Noro
Mitaoka

In [9]:
list_ = [6,[5,[1,2]],4,[3,0]]
print(list_[1])
print(list_[1][1])
print(list_[1][1][1])
list_

[5, [1, 2]]
[1, 2]
2

3

In [15]:

class Sample:
    c_list = []
    def add_c_list(self,data):
        self.c_list.append(data)

print("出力結果:", end=" ")
sample1 = Sample()
sample1.add_c_list("データ1")

sample2 = Sample()
sample2.add_c_list("データ2")

for item_data in sample2.c_list:
    print(item_data, end=" ")

出力結果: データ1 データ2

In [19]:
1>=1

True

In [21]:
t = 123,345,'test'
t

(123, 345, 'test')

In [33]:
def dive_into_code(teacher, *mentor):
    print(teacher)

dive_into_code('Noro', 'Nakao', 'Miyaoka')

Noro

In [38]:
x = ["a","b","c","d","e"]
print(x[-4:])

['b', 'c', 'd', 'e']

In [47]:
def fugafuga(title,content = 'default_content', number = 4):
    content = 'content'
    print(title, end=' ')
    print(content, end=' ')
    print(number)
    
fugafuga(title = 'title_default', content = 'None', number = 5) 
fugafuga(title = 'title_default', content = "sample",  number = 5)
fugafuga(title = 'title_default',  number = 5)
fugafuga(title = "sample")

title_default content 5
title_default content 5
title_default content 5
sample content 4

In [52]:
dic = 'diveintocode'

print(dic[1:10:2])
print(dic[1:10:4])

ienoo
ino

In [53]:
print("出力結果:")
try:
    raise Exception("開始前","Exception発生")
    print("開始")
except IOError as msg:
    print("IOError発生:",msg.args[0])
except Exception as msg:
    print("予期せぬ問題発生:",msg.args[1])
else:
    print("Else表示")

出力結果:
予期せぬ問題発生: Exception発生

In [59]:
print("出力結果:")
try:
    raise Exception("開始前","Exception発生")
    print("開始")
except IOError as msg:
    print("IOError発生:",msg.args[0])
except Exception as msg:
    print("予期せぬ問題発生:", msg.args[1])
else:
    print("Else表示")

出力結果:
予期せぬ問題発生: Exception発生

In [65]:
i = 10
print(i)
def num(arg=i):
    print(arg)

i = 7
print(i)
num()

10
7
10

In [66]:
dive_into_code = ['Noro', 'Nakao', 'Miyaoka', 'Miyashita', 'Shibata', 'Kimura']
dive_into_code.clear()
print(dive_into_code)

[]

In [75]:
dive_into_code = ['Noro', 'Nakao', 'Miyaoka', 'Miyashita', 'Shibata', 'Kimura']
# delete.dive_into_code()
print(dive_into_code)

['Noro', 'Nakao', 'Miyaoka', 'Miyashita', 'Shibata', 'Kimura']

In [71]:
dive_into_code = ['Noro', 'Nakao', 'Miyaoka', 'Miyashita', 'Shibata', 'Kimura']
# delete.dive_into_code[:]
del dive_into_code
# print(dive_into_code)

In [80]:
dive_into_code = ['Noro', 'Nakao', 'Miyaoka', 'Miyashita', 'Shibata', 'Kimura']
del dive_into_code[:4]
print(dive_into_code)

['Shibata', 'Kimura']

In [8]:
import reprlib
print(reprlib.repr(set('112233445566778899')))
print(reprlib.repr(set('77665544332211')))
print(reprlib.repr(set("jjiihhggffeeddccbbaa")))
print(reprlib.repr(set('diveintocode')))
print((set('112233445566778899')))
print(repr(set('77665544332211')))

{'1', '2', '3', '4', '5', '6', ...}
{'1', '2', '3', '4', '5', '6', ...}
{'a', 'b', 'c', 'd', 'e', 'f', ...}
{'c', 'd', 'e', 'i', 'n', 'o', ...}
{'7', '6', '9', '8', '5', '3', '2', '1', '4'}
{'7', '1', '3', '5', '2', '6', '4'}