# リスト

In [3]:
sale = [80, 60, 22, 50, 75]
print(sale)

[80, 60, 22, 50, 75]

In [4]:
sale = []
print(sale)

[]

In [6]:
sale = [80, 60, 22, 50, 75]
print(sale[0])
print(sale[1])
print(sale[2])
print(sale[3])
print(sale[4])
print(f"リストの長さは、{len(sale)}です。")

80
60
22
50
75
リストの長さは、5です。

In [12]:
sale = [80, 60, 22, 50, 75] 
for s in sale : 
        print(s, end=" ") 
print()      
print(f"リストの長さは、{len(sale)}です。")

80 60 22 50 75
リストの長さは、5です。

In [21]:
sale = [80, 60, 22, 50, 75] 
print(sale)
i = int(input("何番のデータを変更しますか？："))
num = int(input("変更後のデータを入力してください："))
print(f"{i}番目のデータ : {sale[i-1]} を変更します。")
sale[i-1] = num 
print(f"{i}番目のデータは、{sale[i-1]}に変更されました。")
print(sale)

[80, 60, 22, 50, 75]
何番のデータを変更しますか？：2
変更後のデータを入力してください：100
2番目のデータ : 60 を変更します。
2番目のデータは、100に変更されました。
[80, 100, 22, 50, 75]

In [24]:
sale = [80, 60, 22, 50, 75]
print(f"現在のデータは、{sale}です。") 
print("末尾に、100を追加します。")
sale.append(100)
print(f"現在のデータは、{sale}です。")
print(f"2番目のデータに25を追加します。")
sale.insert(1, 25)
print(f"現在のデータは、{sale}です。")

現在のデータは、[80, 60, 22, 50, 75]です。
末尾に、100を追加します。
現在のデータは、[80, 60, 22, 50, 75, 100]です。
2番目のデータに25を追加します。
現在のデータは、[80, 25, 60, 22, 50, 75, 100]です。

In [25]:
sale = [80, 60, 22, 50, 75]
print(f"現在のデータは、{sale}です。")

print("先頭のデータを削除します。")
del sale[0] 
print(f"現在のデータは、{sale}です。")

print("22を削除します。")
sale.remove(22)
print(f"現在のデータは、{sale}です。")

現在のデータは、[80, 60, 22, 50, 75]です。
先頭のデータを削除します。
現在のデータは、[60, 22, 50, 75]です。
22を削除します。
現在のデータは、[60, 50, 75]です。

In [26]:
data1 = [1,2,3,4,5]
data2 = data1 
print(f"data1は、{data1}です。")
print(f"data2は、{data2}です。")

data1[0] = 10
print("data1を変更します。")

print(f"data1は、{data1}です。")
print(f"data2は、{data2}です。")

data1は、[1, 2, 3, 4, 5]です。
data2は、[1, 2, 3, 4, 5]です。
data1を変更します。
data1は、[10, 2, 3, 4, 5]です。
data2は、[10, 2, 3, 4, 5]です。

In [27]:
data1 = [1,2,3,4,5]
data2 = list(data1)
print(f"data1は、{data1}です。")
print(f"data2は、{data2}です。")

data1[0] = 10 
print("data1を変更します。")

print(f"data1は、{data1}です。")
print(f"data2は、{data2}です。")

data1は、[1, 2, 3, 4, 5]です。
data2は、[1, 2, 3, 4, 5]です。
data1を変更します。
data1は、[10, 2, 3, 4, 5]です。
data2は、[1, 2, 3, 4, 5]です。

In [29]:
data1 = [1,2,3,4,5]
data2 = data1.copy()
print(f"data1は、{data1}です。")
print(f"data2は、{data2}です。")

data1[0] = 10 
print("data1を変更します。")

print(f"data1は、{data1}です。")
print(f"data2は、{data2}です。")

data1は、[1, 2, 3, 4, 5]です。
data2は、[1, 2, 3, 4, 5]です。
data1を変更します。
data1は、[10, 2, 3, 4, 5]です。
data2は、[1, 2, 3, 4, 5]です。

In [30]:
sale1 = [1,2,3,4,5,6]
print(f"上半期のデータは、{sale1}です。")
sale2 = [7,8,9,10,11,12]
print(f"下半期のデータは、{sale2}です。")

ysale = sale1 + sale2 
print(f"年間のデータは、{ysale}です。")

上半期のデータは、[1, 2, 3, 4, 5, 6]です。
下半期のデータは、[7, 8, 9, 10, 11, 12]です。
年間のデータは、[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]です。

In [40]:
sale1 = [1,2,3,4,5,6]
# print(f"上半期のデータは、{sale1}です。")
sale2 = [7,8,9,10,11,12]
# print(f"下半期のデータは、{sale2}です。")
sale1 += sale2
sale1

sale1.extend(sale2)
sale1
# print(f"年間のデータは、{ysale}です。")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 7, 8, 9, 10, 11, 12]

In [45]:
ysale = [1,2,3,4,5,6,7,8,9,10,11,12]
ysale[:6] 
ysale[6:]
ysale[::2] 
ysale[::-1]

[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [52]:
ysale = [1,2,3,4,5,6,7,8,9,10,11,12]
print(f"年間のデータは、{ysale}です。")
print()

sale1 = ysale[:6]
print(f"上半期のデータは、{sale1}です。")

sale2 = ysale[6:]
print(f"下半期のデータは、{sale2}です。")

sale3 = ysale[::2]
print(f"1ヶ月おきのデータは、{sale3}です。")

sale4 = ysale[::-1]
print(f"逆順のデータは、{sale4}です。")

print()
print(f"年間のデータは、{ysale}です。")
print("上半期のデータを差し替えます。")
ysale[:6] = [0,0,0,0,0,0] 
print(f"年間のデータは、{ysale}です。")

年間のデータは、[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]です。

上半期のデータは、[1, 2, 3, 4, 5, 6]です。
下半期のデータは、[7, 8, 9, 10, 11, 12]です。
1ヶ月おきのデータは、[1, 3, 5, 7, 9, 11]です。
逆順のデータは、[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]です。

年間のデータは、[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]です。
上半期のデータを差し替えます。
年間のデータは、[0, 0, 0, 0, 0, 0, 7, 8, 9, 10, 11, 12]です。

In [53]:
data = [1,2,3,4,5]
print(f"現在のデータは、{data}です。")
print()

print("data[::-1]をfor文で処理します。")
for d in data[::-1] : 
        print(d)
print(f"data[:-1]は、{data[::-1]}です。")
print(f"現在のデータは、{data}です。")
print()

print("reversed(data)をfor文で処理します。")
for d in reversed(data) : 
        print(d)
print(f"reversed(data)は、{reversed(data)}です。")
print(f"現在のデータは、{data}です。")
print()

print("data.reverse()を処理します。")
data.reverse()
print(f"現在のデータは、{data}です。")

現在のデータは、[1, 2, 3, 4, 5]です。

data[::-1]をfor文で処理します。
5
4
3
2
1
data[:-1]は、[5, 4, 3, 2, 1]です。
現在のデータは、[1, 2, 3, 4, 5]です。

reversed(data)をfor文で処理します。
5
4
3
2
1
reversed(data)は、<list_reverseiterator object at 0x1032d0dd8>です。
現在のデータは、[1, 2, 3, 4, 5]です。

data.reverse()を処理します。
現在のデータは、[5, 4, 3, 2, 1]です。

In [4]:
data = [1,2,3,4,5]
it = iter(data)
print(next(it))
print(next(it), "\n")
rv = reversed(data) 
print(next(rv))
print(next(rv))

1
2

5
4

In [6]:
city = ["東京", "名古屋", "大阪", "京都"]
sale = [80, 60, 22, 50, 75]

print(f"都市名データは{city}です。")
print(f"売り上げデータは{sale}です。")
print("データを組み合わせます。\n")

for d in zip(city, sale) : 
    print(d, "\n") 
    
print("データとインデックスを組み合わせます。\n")

for d in enumerate(city) :
    print(d)

都市名データは['東京', '名古屋', '大阪', '京都']です。
売り上げデータは[80, 60, 22, 50, 75]です。
データを組み合わせます。

('東京', 80)

('名古屋', 60)

('大阪', 22)

('京都', 50)

データとインデックスを組み合わせます。

(0, '東京')
(1, '名古屋')
(2, '大阪')
(3, '京都')

In [10]:
city = ["東京","名古屋","大阪","京都"]
sale = [80, 60, 22, 50, 75]
print(f"都市名データは{city}です。")
print(f"売り上げデータは{sale}です。")
print("データを組み合わせます。\n")

for d in zip(city, sale) : 
    print(d, "\n")
    
print("データを分解します。")

for c, s in zip(city, sale) : 
    print(f"都市名は{c}、売り上げは{s}万円です。")

都市名データは['東京', '名古屋', '大阪', '京都']です。
売り上げデータは[80, 60, 22, 50, 75]です。
データを組み合わせます。

('東京', 80)

('名古屋', 60)

('大阪', 22)

('京都', 50)

データを分解します。
都市名は東京、売り上げは80万円です。
都市名は名古屋、売り上げは60万円です。
都市名は大阪、売り上げは22万円です。
都市名は京都、売り上げは50万円です。

In [12]:
city = ["東京","名古屋","大阪","京都"]
sale = [80, 60, 22, 50, 75]
seler = ["田中", "佐藤", "鈴木", "伊藤"]
print(f"都市名データは{city}です。")
print(f"売り上げデータは{sale}です。")
print("データを組み合わせます。\n")

for d in zip(city, sale) : 
    print(d, "\n")
    
print("データを分解します。")

for c, s, se in zip(city, sale, seler) : 
    print(f"都市名：{c}   売り上げ：{s}   担当：{se}")

都市名データは['東京', '名古屋', '大阪', '京都']です。
売り上げデータは[80, 60, 22, 50, 75]です。
データを組み合わせます。

('東京', 80)

('名古屋', 60)

('大阪', 22)

('京都', 50)

データを分解します。
都市名：東京   売り上げ：80   担当：田中
都市名：名古屋   売り上げ：60   担当：佐藤
都市名：大阪   売り上げ：22   担当：鈴木
都市名：京都   売り上げ：50   担当：伊藤

In [15]:
a, b, c = [1, 2, 3]
print(c)

3

In [17]:
data = [1,2,3,4,5] 
print(f"現在のデータは{data}です。\n")

ndata = [n*2 for n in data if n !=3] 
print(f"新しいデータは{ndata}です。")

現在のデータは[1, 2, 3, 4, 5]です。

新しいデータは[2, 4, 8, 10]です。

In [19]:
data = [1,2,3,4,5] 
print(f"現在のデータは{data}です。\n")

ndata = [n*2 for n in data if n % 2 == 1] 
print(f"新しいデータは{ndata}です。")

現在のデータは[1, 2, 3, 4, 5]です。

新しいデータは[2, 6, 10]です。

In [20]:
sale = [80, 60, 22, 50, 75]
print(f"現在のデータは{sale}です。\n")

print(f"最大のデータは{max(sale)}です。")
print(f"最小のデータは{min(sale)}です。")
print(f"データの合計は{sum(sale)}です。")
print(f"ソートされたデータは{sorted(sale)}です。")

現在のデータは[80, 60, 22, 50, 75]です。

最大のデータは80です。
最小のデータは22です。
データの合計は287です。
ソートされたデータは[22, 50, 60, 75, 80]です。

In [27]:
sale = [80, 60, 22, 50, 75]
print(f"現在のデータは{sale}です。\n")

# print(f"最大のデータは{max(sale)}です。")
# print(f"最小のデータは{min(sale)}です。")
# print(f"データの合計は{sum(sale)}です。")
print("sorted処理")
print(f"昇順で表示：{sorted(sale)}")
print(f"降順で表示：{sorted(sale, reverse=True)}")
print(sale)

現在のデータは[80, 60, 22, 50, 75]です。

sorted処理
昇順で表示：[22, 50, 60, 75, 80]
降順で表示：[80, 75, 60, 50, 22]
[80, 60, 22, 50, 75]

In [42]:
sale = [80, 60, 22, 50, 75]
print(f"現在のデータは{sale}です。\n")

print("sort処理")
print(f"昇順で表示：")
sale.sort()
print(sale)

現在のデータは[80, 60, 22, 50, 75]です。

sort処理
昇順で表示：
[80, 60, 22, 50, 75]

In [43]:
sale = [80, 60, 22, 50, 75]
print(f"現在のデータは{sale}です。\n")

print("sort処理")
print(f"降順で表示：")
sale.sort(reverse=True)
print(sale)

現在のデータは[80, 60, 22, 50, 75]です。

sort処理
降順で表示：
[80, 75, 60, 50, 22]

In [45]:
data = [
    ["東京", 32, 25],
    ["名古屋", 28, 21],
    ["大阪", 27, 20],
    ["京都", 26, 19],
    ["福岡", 27, 22]
]

print(f"現在のデータは{data}です。\n")

for dat in data : 
    print(f"都市別データは{dat}です。")
    for d in dat : 
        print(d, end="\t")
    print()
    
print(f"{data[0][0]}の最高気温は、{data[0][1]}、最低気温は{data[0][2]}です。")

現在のデータは[['東京', 32, 25], ['名古屋', 28, 21], ['大阪', 27, 20], ['京都', 26, 19], ['福岡', 27, 22]]です。

都市別データは['東京', 32, 25]です。
東京	32	25
都市別データは['名古屋', 28, 21]です。
名古屋	28	21
都市別データは['大阪', 27, 20]です。
大阪	27	20
都市別データは['京都', 26, 19]です。
京都	26	19
都市別データは['福岡', 27, 22]です。
福岡	27	22
東京の最高気温は、32、最低気温は25です。

In [2]:
test = [74, 85,69,77,81]
print(f"テストの点は{test}です。")
print(f"最高点は{max(test)}点です。")
print(f"最低点は{min(test)}点です。")
total = sum(test)
print(f"平均点は{total/len(test)}点です。")

テストの点は[74, 85, 69, 77, 81]です。
最高点は85点です。
最低点は69点です。
平均点は77.2点です。

In [5]:
test = [74,85,69,77,81]
print(f"テストの点は{test}です。")
print(f"昇順は{sorted(test)}です。")
print(f"降順は{sorted(test, reverse=True)}です。")

テストの点は[74, 85, 69, 77, 81]です。
昇順は[69, 74, 77, 81, 85]です。
降順は[85, 81, 77, 74, 69]です。

In [8]:
test = [74,85,69,77,81]
print(f"テストの点は{test}です。")
n_test = [n for n in test if n >= 80]
print(f"８０点以上は{n_test}です。")
print(f"８０点以上の人数は{len(n_test)}人です。")

テストの点は[74, 85, 69, 77, 81]です。
８０点以上は[85, 81]です。
８０点以上の人数は2人です。

In [10]:
city = ["東京", "名古屋", "大阪", "京都", "福岡",]
h_temp = [32, 28, 27, 26, 27]
r_temp = [25, 21, 20, 19, 22]
print(f"都市名データは{city}です。")
print(f"最高気温データは{h_temp}です。")
print(f"最低気温データは{r_temp}です。\n")
for c, h, r in zip(city, h_temp, r_temp) : 
    print(f"{c}の最高気温は{h}℃です。最低気温は{r}℃です。")

都市名データは['東京', '名古屋', '大阪', '京都', '福岡']です。
最高気温データは[32, 28, 27, 26, 27]です。
最低気温データは[25, 21, 20, 19, 22]です。

東京の最高気温は32℃です。最低気温は25℃です。
名古屋の最高気温は28℃です。最低気温は21℃です。
大阪の最高気温は27℃です。最低気温は20℃です。
京都の最高気温は26℃です。最低気温は19℃です。
福岡の最高気温は27℃です。最低気温は22℃です。