# コレクション

## タプル

- リスト同様、複数の要素を扱うシーケンス
- 変更不可（immutable)
- 変更されたくないデータを取り扱う時に使用する

### タプル作成
タプル名 = (値1, 値2, ...) <br>
taple = (1, 2, ...) <br> 
taple = () # 空のタプル作成　<br>
taple = ( 値, ) <br>
タプルに格納されている要素が１つの場合は、末尾に「,」をつける（区別のため）

In [1]:
sale = (80, 60, 20, 50, 75)

In [14]:
sample = 1,2,3   # ()で囲わなくてもタプルとなる
sample

(1, 2, 3)

tuple()コンストラクタでタプルを作成できる

In [17]:
sample = tuple() #引数が空だと空タプル
sample

()

In [5]:
sample = tuple(range(5))  #引数に渡したオブジェクトがタプルとなる
sample = tuple([1,2,3])
sample

(1, 2, 3)

In [10]:
#値の取得
sample = tuple(range(5))
print(sample)
sample[1]
#リスト同様に［］にインデックスを渡して取得する
#取得はできるが変更はできない
# sample[0] = 10

(0, 1, 2, 3, 4)

0

#### まとめ
- タプルは異なる値をまとめて扱う際に使用されることが多い
- リストは同型の値をまとめて扱う際に使用されることが多い
- 編集以外の操作はリストと同様である

## ディクショナリ

- Rubyでいうハッシュ 
- インデックスの代わりにkey（キー）、value（バリュー）を用いてデータを格納する
- keyの重複は不可 <br>
ディクショナリ名 = {　キー名1：バリュー名1, キー名2：バリュー名2...　}

In [13]:
sale = {} #{}空白で空のディクショナリ
sale
sale = { "東京": 80, "名古屋": 60, "京都": 22, "大阪": 50, "福岡":75  }
sale

{'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75}

dict()コンストラクタでディクショナリを作成できる

In [55]:
sample = dict()
sample # O 
sample = {} 
sample # O
sample = dict(東京 =110, 大阪 =120, 京都=100) #O 
sample = dict({"東京":110, "大阪":120, "京都":100}) #O 
sample = dict((("東京",110),("大阪",120),("京都",100))) #O
sample

{'東京': 110, '大阪': 120, '京都': 100}

ディクショナリの値の取り出し方は［］にインデックスではなく、keyを指定する。

In [62]:
sale = {"東京": 80,"名古屋": 60,"京都": 22,"大阪": 50,"福岡":75 }
print(f"現在のデータは{sale}です。")
k = input("どの支店のデータを表示しますか？:")
print(f"{k}のデータは{sale[k]}です。")

現在のデータは{'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75}です。
どの支店のデータを表示しますか？:大阪
大阪のデータは50です。

In [4]:
sale = {"東京":80,"名古屋":60,"京都":22,"大阪":50,"福岡":75}
print(f"現在のデータは{sale}です。")
k = input("どの支店のデータを表示しますか？：")
if k in sale : 
    print(f"{k}のデータは{sale[k]}です。")
else : 
    print(f"{k}のデータは見つかりませんでした。")

現在のデータは{'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75}です。
どの支店のデータを表示しますか？：金沢
金沢のデータは見つかりませんでした。

### in, not in 演算子
- 値が存在するか調べる

### any(), all()
- any() 
 - 指定した値に１つでもtrueがあればtrueを返す

- all() 
 - 指定した値が全てtrueならtrueを返す

In [9]:
data = [0,1,2,3,4,5]
print(any(data))
print(all(data))

True
False

### ディクショナリの操作

#### 要素の編集
sample[key] = 10  <br>
編集したい「key名」を指定し、新しい値を代入するだけ

#### 要素の追加
sample[新しいkey名] = 10 <br>
追加したい「key名」を入力し、値を代入する。

#### 削除
リスト同様に「delステートメント」が利用できる。<br>
del sample[key] <br>
指定した「key」を削除する。指定しないとディクショナリごと削除する。

In [20]:
sale = {"東京":80,"名古屋":60,"京都":22,"大阪":50,"福岡":75}
print(f"現在のデータは{sale}です。\n")
k = input("追加するキーを入力してください。：")
if k in sale : 
    print(f"{k}のデータはすでに存在します。")
else: 
    d = int(input("追加するデータを入力してください："))
    sale[k]  = d 
    print(f"{k}のデータとして、{sale[k]}を追加しました。")
print(f"現在のデータは{sale}です。\n")

k = input("どのキーのデータを変更しますか？：")
if k in sale : 
    print(f"{k}のデータは{sale[k]}です。")
    d = int(input("データを入力してください。："))
    sale[k] = d 
    print(f"{k}のデータは{sale[k]}に変更されました。")
else : 
    print(f"{k}のデータは見つかりませんでした。")
print(f"現在のデータは{sale}です。\n")

k = input("どのキーのデータを削除しますか？：")
if k in sale : 
    print(f"{k}のデータは{sale[k]}です。")
    del sale[k] 
    print("データを削除しました。")
else :
    print(f"{k}のデータはありませんでした。")
print(f"現在のデータは{sale}です。")

現在のデータは{'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75}です。

追加するキーを入力してください。：ddd
追加するデータを入力してください：10
dddのデータとして、10を追加しました。
現在のデータは{'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75, 'ddd': 10}です。

どのキーのデータを変更しますか？：ddd
dddのデータは10です。
データを入力してください。：30
dddのデータは30に変更されました。
現在のデータは{'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75, 'ddd': 30}です。

どのキーのデータを削除しますか？：ddd
dddのデータは30です。
データを削除しました。
現在のデータは{'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75}です。

#### ディクショナリ便利メソッド
- keys() 
 - キーを１つずつ返す
- values() 
 - 値を１つずつ返す
- items() 
 - キー、値をタプルで返す
 
 #### ここでバリューを１つずつ返す仕組みをビューと呼ぶ（イテレータと同様の機能を持っている）

In [47]:
sale = {"東京":80,"名古屋":60, "京都":22,"大阪":50,"福岡":75}
print(f"現在のデータは{sale}です。\n")

print("キーを表示します。")
for k in sale.keys() : 
    print(k, end="  ")
print("\n")

print("値を表示します。")
for v in sale.values() : 
    print(v, end="  ")
print("\n")

print("キーと値を表示します。")
for i in sale.items() : 
    print(i, end="  ")

現在のデータは{'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75}です。

キーを表示します。
東京  名古屋  京都  大阪  福岡

値を表示します。
80  60  22  50  75

キーと値を表示します。
('東京', 80)  ('名古屋', 60)  ('京都', 22)  ('大阪', 50)  ('福岡', 75)

### ディクショナリの更新
ディクショナリ名.update(追加するディクショナリ名)<br>
重複キーは値が更新され、キーがないものは追加される

In [49]:
sale1 = {"東京":80,"名古屋":60,"京都":22}
sale2 = {"京都":100,"大阪":50,"福岡":75}

print(f"１つのデータは{sale1}です。")
print(f"２つのデータは{sale2}です。")
print("1を２で更新します。")
sale1.update(sale2)
print(f"１つのデータは{sale1}です。")

１つのデータは{'東京': 80, '名古屋': 60, '京都': 22}です。
２つのデータは{'京都': 100, '大阪': 50, '福岡': 75}です。
1を２で更新します。
１つのデータは{'東京': 80, '名古屋': 60, '京都': 100, '大阪': 50, '福岡': 75}です。

#### ディクショナリ注意点
ディクショナリはシーケンスではなく、順序の概念がないのでスライスなどが使えない。したがって、集計やソートなどは、keys()、vakues()メソッドなどで値を１つ１つ取り出してから行う必要がある。

## セット
セット名 =｛ "東京", "大阪", "名古屋", "京都", "沖縄" ｝<br>
セットは並び順のないデータの集合体である<br>
セットはmutableだが、値を重複させることは出来ない<br>
他のコレクション同様に、コンストラクタが用意されている<br>
frozenset()で変更不可能なセットが作成できる<br>
※空のセットは他のコレクションとは違いコンストラクタのみでしか作成できない

In [51]:
sample = set([1,2,3,4,5])
sample

{1, 2, 3, 4, 5}

In [52]:
sample = set()
sample

set()

In [53]:
sample = {}
sample

{}

### 要素の追加・削除
セット名.add(値)メソッド<br>
セット名.remove(値)メソッド<br>
引数に追加・削除したい値を渡す

In [59]:
city = {"東京","名古屋","京都","大阪","福岡"}
print(f"現在のデータは{city}です。\n")

d = input("追加するデータを入力してください。：")
if d in city :
    print(f"{d}はすでに存在しています。")
else : 
    city.add(d) 
    print(f"{d}を追加しました。")
print(f"現在のデータは{city}です。\n")

現在のデータは{'名古屋', '東京', '京都', '福岡', '大阪'}です。

追加するデータを入力してください。：sss
sssを追加しました。
現在のデータは{'名古屋', '東京', '京都', '福岡', 'sss', '大阪'}です。

In [62]:
d = input("削除するデータを入力してください。：")
if d in city : 
    city.remove(d)
    print(f"{d}を削除しました。")
else : 
    print(f"{d}は見つかりませんでした。")
print(f"現在のデータは{city}です。")

削除するデータを入力してください。：sss
sssを削除しました。
現在のデータは{'名古屋', '東京', '京都', '福岡'}です。

### 集合演算
- 和集合
 - 全ての要素を求める
- 共通集合　
 - 共通する要素を求める
- 差集合
 - いずれか一方にのみ存在する要素を求める
- 対象差
 - どちらかにのみ存在する要素を全て求める

In [67]:
cityA = {"東京","名古屋","京都","大阪"}
cityB = {"京都","大阪","福岡"}

print(f"Aの都市名は{cityA}です。")
print(f"Bの都市名は{cityB}です。\n")

print(f"共通するデータは{cityA & cityB}です。")
print(f"Aのみのデータは{cityA - cityB}です。")
print(f"Bのみのデータは{cityB - cityA}です。")
print(f"全てのデータは{cityA | cityB}です。")

Aの都市名は{'名古屋', '東京', '京都', '大阪'}です。
Bの都市名は{'福岡', '京都', '大阪'}です。

共通するデータは{'京都', '大阪'}です。
Aのみのデータは{'名古屋', '東京'}です。
Bのみのデータは{'福岡'}です。
全てのデータは{'名古屋', '東京', '京都', '福岡', '大阪'}です。

##### セット注意点
- 順序がないのでインデックス、スライスは使えない
- len()、zip()、enumrate()などは使える
- uodate()で更新ができる

In [71]:
city = {"tokyo", "osaka", "kyoto", "fukuoka"}
print(city)

{'osaka', 'tokyo', 'kyoto', 'fukuoka'}