In [3]:
sale = [80, 60,32,58,20]
print(f"現在のデータは{sale}です。")
i = int(input("何番目のデータを変更しますか？(1~5)："))
num = int(input("変更後のデータを入力してください："))
print(f"{i}番目のデータ：{sale[i-1]}を変更します。")
sale[i-1] = num 
print(f"{i}番目のデータは、{sale[i-1]}に変更されました。")
print(f"変更後のデータは{sale}です")

現在のデータは[80, 60, 32, 58, 20]です。
何番目のデータを変更しますか？(1~5)：5
変更後のデータを入力してください：100
5番目のデータ：20を変更します。
5番目のデータは、100に変更されました。
変更後のデータは[80, 60, 32, 58, 100]です

In [7]:
data = list(range(2,11, 2))
print(f"現在のデータは{data}です\n")

a_num = int(input("末尾に追加する値を入力してください："))
print(f"末尾に{a_num}を追加します")
data.append(a_num)
print(f"追加後のデータは{data}です\n")

i = int(input("挿入する位置を入力してください："))
i_num = int(input("挿入するデータを入力してください："))
print(f"{i}番目に{i_num}を挿入します")
data.insert(i-1,i_num)
print(f"挿入後のデータは{data}です")

現在のデータは[2, 4, 6, 8, 10]です

末尾に追加する値を入力してください：100
末尾に100を追加します
追加後のデータは[2, 4, 6, 8, 10, 100]です

挿入する位置を入力してください：1
挿入するデータを入力してください：50
1番目に50を挿入します
挿入後のデータは[50, 2, 4, 6, 8, 10, 100]です

In [10]:
data = list(range(2,11, 2))
print(f"現在のデータは{data}です\n")

n = int(input("削除したいデータの位置を入力してください："))
print(f"{n}番目のデータを削除します")
del data[n-1]
print(f"現在のデータは{data}です\n")

rn = int(input("削除したいデータを入力してください："))
print(f"{data}の{rn}を削除します")
data.remove(rn)
print(f"削除後のデータは{data}です")

現在のデータは[2, 4, 6, 8, 10]です

削除したいデータの位置を入力してください：5
5番目のデータを削除します
現在のデータは[2, 4, 6, 8]です

削除したいデータを入力してください：4
[2, 4, 6, 8]の4を削除します
削除後のデータは[2, 6, 8]です

In [22]:
data1 = [1,2,3]
data2 = data1
print(id(data1))
print(id(data2))
data1 is data2

4423067528
4423067528

True

In [27]:
data1 = [1,2,3,4,5,6]
data2 = [7,8,9,10,11,12]
print(f"上半期のデータは{data1}です")
print(f"下半期のデータは{data2}です")
ydata = data1 + data2
print(f"年間データは{ydata}です")
# data1.extend(data2)
data1 += data2
data1

上半期のデータは[1, 2, 3, 4, 5, 6]です
下半期のデータは[7, 8, 9, 10, 11, 12]です
年間データは[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]です

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [35]:
ydata[:6]
ydata[6:]
ydata[::2]
ydata[::-2]
ydata[::-1]

[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [45]:
ydata = [1,2,3,4,5,6,7,8,9,10,11,12]
# ydata[:6] = [0,0,0,0,0,0]
# ydata
for i in reversed(ydata):
    print(i)
# print(f"{reversed(ydata)}")
print(ydata)
ydata.reverse()
print(ydata)

12
11
10
9
8
7
6
5
4
3
2
1
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [51]:
data1 = ["tokyo","osaka","nagoya","kyoto"]
data2 = [50,80,20,30]
for sale in zip(data1, data2): 
    print(sale)

print()
for sale in enumerate(data1, 1):
    print(sale)

('tokyo', 50)
('osaka', 80)
('nagoya', 20)
('kyoto', 30)

(1, 'tokyo')
(2, 'osaka')
(3, 'nagoya')
(4, 'kyoto')

In [53]:
data1 = ["tokyo","osaka","nagoya","kyoto"]
data2 = [50,80,20,30]
for k,v in zip(data1, data2):
    print(f"{k}の売り上げは{v}です")

tokyoの売り上げは50です
osakaの売り上げは80です
nagoyaの売り上げは20です
kyotoの売り上げは30です

In [56]:
a,b,c = 1,2,3 
a
b
c

3

In [59]:
data = [1,2,3]
a,b,c = data
a
b
c

3

In [61]:
data = [1,2,3]
for num in [num*2 for num in data ]:
    print(num)

2
4
6

In [64]:
data = [1,2,3,4,5,6,7,8,9,10]
data2 = [num**2 for num in data if num%2==0]
data2

[4, 16, 36, 64, 100]

In [65]:
data = [60,89,34,287,59,86]
print(f"min{min(data)}")
print(f"max{max(data)}")
print(f"sum{sum(data)}")
print(f"sort{sorted(data)}")
print(f"r_sort{sorted(data, reverse=True)}")

min34
max287
sum615
sort[34, 59, 60, 86, 89, 287]
r_sort[287, 89, 86, 60, 59, 34]

In [66]:
data = [
    ["tokyo",30,20],
    ["osaka",35,25],
    ["kyoto",33,23]
]

for c,h,r in data : 
    print(f"都市名：{c}、最高気温：{h}、最低気温：{r}")

都市名：tokyo、最高気温：30、最低気温：20
都市名：osaka、最高気温：35、最低気温：25
都市名：kyoto、最高気温：33、最低気温：23

In [72]:
data = {"tokyo":100,"osaka":130,"kyoto":90,}
# print(data["tokyo"])
key = input("編集したいkeyを入力:")
val = int(input("編集すすvalを入力:"))
if key in data : 
    data[key] = val
    print(f"編集しました{data}")
else:  
    print("key is nothing")

編集したいkeyを入力:osaka
編集すすvalを入力:20
編集しました{'tokyo': 100, 'osaka': 20, 'kyoto': 90}

In [5]:
data = {"tokyo":100,"osaka":130,"kyoto":90}
for k in data.keys():
    print(k, end=" ")
    
for v in data.values():
    print(v, end=" ")
# print(max(v))
    
for k, v in data.items(): 
    print(kv, end=" ")

tokyo osaka kyoto 100 130 90

TypeError: 'int' object is not iterable

In [2]:
data1 = {"tokyo":100,"osaka":130,"kyoto":90}
data2 = {"okinawa":80,"nagoya":70,"kyoto":60}
data1.update(data2)
print(data1)

{'tokyo': 100, 'osaka': 130, 'kyoto': 60, 'okinawa': 80, 'nagoya': 70}

In [16]:
data = {"tokyo":100,"osaka":130,"kyoto":90}
for k,v in enumerate(data.items()):
    print(f"{k}{v}")

0('tokyo', 100)
1('osaka', 130)
2('kyoto', 90)

In [23]:
data =  {"tokyo","osaka","kyoto"}
data.add("okinawa")
data
data.remove("osaka")
data

{'kyoto', 'okinawa', 'tokyo'}

In [37]:
data1 = {"日","月","火","水", "月"}
data2 = {"木","金","土","金"}
data1 | data2

{'土', '日', '月', '木', '水', '火', '金'}

In [38]:
data1 = {"日","月","火","水", "月","金"}
data2 = {"木","金","土","金","月"}
data1 & data2

{'月', '金'}

In [34]:
data1 = {"日","月","火","水", "月","金"}
data2 = {"木","金","土","金","月"}
print(data1 - data2)

{'火', '水', '日'}

In [35]:
data1 = {"日","月","火","水", "月","金"}
data2 = {"木","金","土","金","月"}
print(data2 - data1)

{'木', '土'}

In [39]:
data1 = {"日","月","火","水", "月","金"}
data2 = {"木","金","土","金","月"}
data1 ^ data2

{'土', '日', '木', '水', '火'}

In [41]:
data1 = {"日","月","火","水", "月","金"}
data2 = {"木","金","土","金","月"}
data1.update(data2)
data1

{'土', '日', '月', '木', '水', '火', '金'}