# データベースとネットワーク

In [9]:
import sqlite3 # DB（SQlite）を使用するためのｉｍｐｏｒｔ

conn = sqlite3.connect("pdb.db") # ①pdb.dbという名前のデータベースへ接続
# Connectionクラスのインスタンスが返される

c = conn.cursor() # ②カーソル取得
# Connectionクラスのcursor()メソッドを使い、Cursorクラスのインスタンスを取得
# カーソルはデータを1行ずつ操作するための仕組みで、SQL文が発行できる

c.execute("DROP TABLE IF EXISTS product")
# Cursorクラスのexecute()メソッドでSQL文が叩ける
# IF　EXISTSでテーブルの初期化（存在していれば削除される）

# ③テーブル作成
c.execute("CREATE TABLE product(name CHAR(20), price INT)")
# CREATE TABLE文でproductテーブルを作成

# カラム作成（データ作成）
c.execute("INSERT INTO product VALUES('鉛筆', 80)")   #  nameを追加する際、「""」だとSyntaxErrorとなった
c.execute("INSERT INTO product VALUES('消しゴム', 50)")
c.execute("INSERT INTO product VALUES('定規', 200)")
c.execute("INSERT INTO product VALUES('コンパス', 300)")
c.execute("INSERT INTO product VALUES('ボールペン', 100)")
# INSERT INTO文でカラムに値を追加更新している

conn.commit()   # ④コミットする
# Conectionクラスのcommit()メソッドで追加更新した処理を確定させている

itr = c.execute("SELECT * FROM product")  # テーブルデータをｉｔｒに代入
# SELECT文でデータを問い合わせ、結果がイテレータとして返される

for row in itr:  # ｉｔｒからデータをループで取り出す
    print(row)
    
conn.close()  # ⑤データベースのクローズ
# Connectionクラスのclose()メソッドでDBとの接続をクローズしている

('鉛筆', 80)
('消しゴム', 50)
('定規', 200)
('コンパス', 300)
('ボールペン', 100)

In [11]:
import sqlite3

conn = sqlite3.connect("pdb.db")

c = conn.cursor()

itr = c.execute("SELECT * FROM product WHERE price >= 200")

for row in itr:
    print(row)
    
conn.close()

('定規', 200)
('コンパス', 300)

In [12]:
import sqlite3

conn = sqlite3.connect("pdb.db")

c = conn.cursor()

itr  = c.execute("SELECT * FROM product WHERE name = '鉛筆'")

for row in itr: 
    print(row)
    
conn.close()

('鉛筆', 80)

In [13]:
import sqlite3

conn = sqlite3.connect("pdb.db")

c = conn.cursor()

itr = c.execute("SELECT * FROM product WHERE name LIKE '%ン%'")

for row in itr:
    print(row)
    
conn.close()

('コンパス', 300)
('ボールペン', 100)

In [14]:
import sqlite3

conn = sqlite3.connect("pdb.db")

c = conn.cursor()

itr = c.execute("SELECT * FROM product ORDER BY price")

for row in itr:
    print(row)
    
conn.close()

('消しゴム', 50)
('鉛筆', 80)
('ボールペン', 100)
('定規', 200)
('コンパス', 300)

In [16]:
import sqlite3
conn = sqlite3.connect("pdb.db")
c = conn.cursor()
itr = c.execute("SELECT * FROM product ORDER BY price DESC")
for row in itr:
    print(row)
conn.close()

('コンパス', 300)
('定規', 200)
('ボールペン', 100)
('鉛筆', 80)
('消しゴム', 50)

In [4]:
import urllib.request

# page = urllib.request.urlopen("https://www.python.org/")

# html = page.read()
# st = html.decode()

# print(st)

In [1]:
import urllib.request 
from html.parser import HTMLParser

class SampleHTMLParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.title = False
        
    def handle_starttag(self, tag, attrs):
        if tag == "title":
            self.title = True
            
    def handle_data(self, data):
        if self.title is True:
            print("タイトル:", data)
            self.title = False

            
page = urllib.request.urlopen("https://www.python.org/")

html = page.read()
st = html.decode()
p = SampleHTMLParser()
p.feed(st)
p.close()

タイトル: Welcome to Python.org

In [4]:
import sqlite3

db = sqlite3.connect("pdb.db")
c = db.cursor()
c.execute("DROP TABLE IF EXISTS items")
c.execute("CREATE TABLE items(name CHAR(20), num INT)")
c.execute("INSERT INTO items VALUES('みかん', 80)")
c.execute("INSERT INTO items VALUES('いちご', 60)")
c.execute("INSERT INTO items VALUES('りんご', 22)")
c.execute("INSERT INTO items VALUES('もも', 50)")
c.execute("INSERT INTO items VALUES('くり', 75)")
db.commit()
data = c.execute("SELECT * FROM items")
for d in data:
    print(d)
db.close()

('みかん', 80)
('いちご', 60)
('りんご', 22)
('もも', 50)
('くり', 75)

In [7]:
import sqlite3
db = sqlite3.connect('pdb.db')
c = db.cursor()
db.commit()
data = c.execute('SELECT * FROM items WHERE num <= 30')
for d in data:
    print(d)
db.close()

('りんご', 22)

In [6]:
# import urllib.request

# page = urllib.request.urlopen("https://www.python.org/") 　ファイルアクセス
# html = page.read()　ファイル読み込み
# str_ = html.decode()　　読み込んだファイル（バイト列/バイナリ列）をデコード（文字列に変換）
# print(str_)

In [10]:
import urllib.request
from html.parser import HTMLParser
class SampleHTMLParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.title = False
        
    def handle_starttag(self, tag, attrs):
        if tag == "title":
            self.title = True
            
    def handle_data(self, data):
        if self.title is True:
            print("タイトル:", data)
            self.title = False
            
page = urllib.request.urlopen("https://www.python.org/")
html = page.read()
str_ = html.decode()

p = SampleHTMLParser()
p.feed(str_)
p.close()

タイトル: Welcome to Python.org

In [11]:
import sqlite3
conn = sqlite3.connect("pdb.db")
c = conn.cursor()
c.execute("DROP TABLE IF EXISTS items")
c.execute("CREATE TABLE items(name CHAR(20), price INT)")
c.execute("INSERT INTO items VALUES('みかん', 80)")
c.execute("INSERT INTO items VALUES('いちご', 60)")
c.execute("INSERT INTO items VALUES('りんご', 22)")
c.execute("INSERT INTO items VALUES('もも', 50)")
c.execute("INSERT INTO items VALUES('くり', 75)")
conn.commit()
data = c.execute("SELECT * FROM items")
for d in data:
    print(d)
conn.close()

('みかん', 80)
('いちご', 60)
('りんご', 22)
('もも', 50)
('くり', 75)

In [12]:
import sqlite3
conn = sqlite3.connect("pdb.db")
c = conn.cursor()
data = c.execute("SELECT * FROM items WHERE 30>=price")
for d in data:
    print(d)
conn.close()

('りんご', 22)